:root {
  --color-background: #d9f0ff;
  --color-bg-today-cards: #afe6fa;
  --color-bg-today-card: #c4cae8;
  --color-bg-title-today-card: #aad6fa;
  --color-coming-card: #fdf7cd;
  --color-past-card: #f4adad;
  --color-text-light: #ebffff;
  --color-text-dark: #262626;
}
