* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: lightcyan;
}

.buttonsContainer {
  width: min(600px, 90vw);
  height: auto;
  padding: 0.5rem 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}

.addBtn,
.deleteBtn,
.editBtn,
.form__submit {
  width: 4rem;
  height: 2rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.7rem;
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(26, 43, 43);
  background-color: lightcoral;
  border: none;
  border-radius: 30px;
  box-shadow: 3px 3px 5px black;
  transition: all 0.2s ease;
  cursor: pointer;
}

.todoListWrapper {
  width: min(600px, 90vw);
  height: auto;
  padding: 0.5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.card {
  width: 100%;
  min-width: 20rem;
  min-height: 2rem;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0;
  border-radius: 30px;
  box-shadow: 3px 3px 5px black;
  background-color: lightcoral;
  transition: all 0.2s ease;
  cursor: pointer;
}

.addBtn:active,
.deleteBtn:active,
.editBtn:active,
.card:active,
.form__submit:active {
  transform: translateX(5px) translateY(5px);
  box-shadow: none;
}

.card__text {
  font-size: 1rem;
  text-shadow: 1px 1px 2px black;
  color: lightcyan;
}

.done {
  background-color: darkslategrey;
  box-shadow: none;
}

.done p {
  color: rgba(202, 202, 202, 0.9);
  text-decoration: line-through;
}

.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.6);
}

.form__wrapper {
  width: min(600px, 90vw);
  min-width: 15rem;
  height: 15%;
  position: fixed;
  display: flex;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 30px;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.form__input {
  width: 85%;
  line-height: 1.5rem;
  border: none;
  border-radius: 30px;
  padding-left: 10px;
  font-size: 1rem;
}
