body {
  background-color: lightgray;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

button,
input[type="submit"] {
  padding: 4px 8px;
  font-size: 18px;
  border-radius: 3px;
  box-shadow: 2px 2px 2px black;
  background-color: aqua;
  color: red;
}

button:hover,
input[type="submit"]:hover {
  cursor: pointer;
  background-color: white;
}

p,
li {
  font-size: 20px;
}

input {
  font-size: 18px;
  line-height: 26px;
}
