:root {
  --color-background: #f8f8f8;
  --color-bg-today-cards: #eeeeee;
  --color-bg-upcoming-cards: #dedede;
  --color-bg-past-cards: #cdcdcd;

  --color-bg-today-card: #ebedf7;
  --color-bg-upcoming-card: #ebf6d2;
  --color-bg-past-card: #fad6d6;

  --color-bg-title-today-card: #aad6fa;
  --color-text-light: #f8f8f8;
  --color-text-dark: #262626;
}
